# Virtual env folder
.venv

# Quarto config folder
.quarto

# Quarto build folder
dist
/.quarto/

# Node modules folders for demos
node_modules

# Env files
.env

# Pycache
__pycache__

# Gradio
.gradio
